<div class="flex items-center space-x-2 text-cyan-950">  
  <span class="text-lg font-bold">Highest score</span>
  <span class="text-lg font-bold  text-cyan-950">{{ gameData.highScore }}</span>
  <span class="text-lg">Points</span>
</div>
<div class="flex justify-between items-center">
  <div class="flex items-center space-x-2 text-gray-500">
    <span class="text-base">Round</span>
    <span class="text-lg font-bold text-orange-700">{{ gameData.round }}</span>
    <span class="text-base">| Level</span>
    <span class="text-lg font-bold text-blue-700">{{ gameData.level }}</span>
  </div>
  <br><br><br>  
</div>
<div class="flex items-center space-x-2 text-cyan-950">
  <span class="text-lg font-bold">{{ gameData.points }}</span>
  <span class="text-base">Points</span>
</div>
