<div class="flex">
    <div class="w-full bg-white p-8 mr-8 flex flex-col justify-center items-center border-gray-500 border-2">
        <ng-container *ngIf="!gameLost; else gameEnd">
            <div>
              <!-- content to display when GameStarted is true -->
              <app-card-picker  (selectionMade)="handleSelection($event)"></app-card-picker>
            </div>
          </ng-container>
          <ng-template #gameEnd>
            <div>
              <!-- content to display when GameStarted is false -->
              <app-game-end [highScore]="gameData.highScore"  [level]="gameData.level" (retry)="Retry()" (saveAndPlayAgain)="SaveAndPlayAgain($event)"></app-game-end>
            </div>
          </ng-template>        
    </div>    
    <div class="w-1/3 bg-white p-8 flex flex-col justify-center items-center  border-gray-500 border-2">        
        <app-game-data [gameData]="gameData"></app-game-data> 
    </div>
</div>
<div class="flex">
    <div class="w-2/3 bg-white p-8 mr-8 flex flex-col justify-center items-center">
        <ng-container *ngIf="!gameLost;">
            <app-round-results [roundResults]="roundResults"></app-round-results>
        </ng-container>    
    </div>    
    <div class="w-1/3 bg-white p-8 flex flex-col justify-center items-center">
        <ng-container *ngIf="!gameLost;">
        <app-horizontal-line [horizontalStatus]="horizontalStatus" ></app-horizontal-line> 
    </ng-container>
    </div>
</div>