.header-image {
    background-image: url("/img/page_Reiter.png"); /* The image used */
    height: 75px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    border-bottom: 5px solid darkslategray;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.footer {
    background:gray;
    border-bottom: 5px solid darkslategray;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}