<form class="w-full max-w-md mx-auto">
  <div class="flex flex-wrap -mx-3 mb-6">
    <p class="text-2xl font-bold">You lost!</p><br><br>
    <div class="w-full px-3 mb-6 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Highest Score: {{ highScore }}
      </label>
      <input type="hidden" name="highScore" value="{{ highScore }}">
    </div>
    <div class="w-full px-3">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
          Highest Level: {{ level }}
      </label>
      <input type="hidden" name="level" value="{{ level }}">
    </div>
    <div class="w-full px-3">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
          Your Name: {{ userName }}
      </label>        
      <input class="w-full bg-cyan-100 border-2 border-cyan-800  text-cyan-950 font-bold py-2 px-4 rounded" name="userName" [(ngModel)]="userName" type="text" placeholder="Enter your name">
    </div>
  </div>
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3 flex justify-between">
      <button [disabled]="!userName" class="w-1/2 bg-cyan-900 hover:bg-cyan-800 text-white font-bold py-2 px-4 rounded -mx-3" (click)="onSave()">Save and play again</button>
      <button class="w-1/2 bg-gray-700 hover:bg-cyan-600 text-white font-bold py-2 px-4 rounded -mx-3" (click)="onRetry()">Retry</button>
    </div>    
  </div>
</form>